<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/G_003.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>プロフィール変更画面</title>
</head>

<body>

	<h1>プロフィール変更画面</h1>

	<div class="super">

		<div class="photo">
			<img
				src="https://th.bing.com/th/id/OIP.M_n2Zenf0knX1HkwDTCxCwHaHa?pid=Api&rs=1"
				alt="サンプル" class="j" width="141.73228346456693"
				height="177.16535433070865">
			<button class="button3">編集</button>
		</div>


		<div class="col-xs-2">
			<table class="table" border="1" style="border-collapse: collapse">

				<tr>
					<td class="font-size">氏名</td>
					<td class="font-size"><input class="input" type="text"
						readonly></td>
				</tr>

				<tr>
					<td class="font-size">社員番号</td>
					<td class="font-size"><input class="input" type="text"
						readonly></td>
				</tr>

				<tr>
					<td class="font-size">性別</td>
					<td class="font-size"><input class="input" type="text"
						placeholder="男性or女性" maxlength="2"></td>
				</tr>


				<tr>
					<td class="font-size">所属・プロジェクト</td>
					<td class="font-size"><input class="input" type="text"
						placeholder="〇課 プロジェクト名" maxlength="20"></td>
				</tr>

				<tr>
					<td class="font-size">生年月日</td>
					<td class="font-size"><input class="input" type="text"
						placeholder="yyyy/mm/dd"></td>

				</tr>
				<tr>
					<td class="font-size">出身校</td>
					<td class="font-size"><input class="input" type="text"
						placeholder="〇〇高校・〇〇大学" maxlength="20"></td>
				</tr>

				<tr>
					<td class="font-size">趣味</td>
					<td class="font-size"><input class="input" type="text"
						placeholder="読書など" maxlength="100"></td>
				</tr>

			</table>
		</div>
	</div>

	<div class="free_super">
		<div class="free">
			<table class="freespace" border="1" style="border-collapse: collapse">
				<tr>
					<td class="font-size">フリースペース</td>
				</tr>

			</table>

		</div>



		<div class="e">
			<table class="textarea" border="1" style="border-collapse: collapse">
				<tr>
					<td><textarea name="test2" rows="5" cols="40"
							style="font-size: 150%;" placeholder="なんでもどうぞ 200文字以内"
							maxlength="200"></textarea></td>
				</tr>

			</table>
		</div>

	</div>

	<form th:action="@{/admin/home}" method="get">
		<button class="button1" type="Submit">戻る</button>
	</form>

	<button class="button2">決定</button>



</body>


</html>