<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/G_003.css}"/>
<meta charset="UTF-8">
<title>プロフィール変更画面</title>
</head>

<body>

	<h1>プロフィール変更画面</h1>

	<div class="super">

		<div class="photo">
			<img
				src="https://th.bing.com/th/id/OIP.M_n2Zenf0knX1HkwDTCxCwHaHa?pid=Api&rs=1"
				alt="サンプル" class="j" width="141.73228346456693"
				height="177.16535433070865">
			<button class="button3">編集</button>
		</div>


		<div>
			<table class="table" border="1" style="border-collapse: collapse">

				<tr>
					<td>氏名</td>
					<td><input class="input" type="text" readonly></td>
				</tr>

				<tr>
					<td>社員番号</td>
					<td><input class="input" type="text" readonly></td>
				</tr>

				<tr>
					<td>性別</td>
					<td><input class="input" type="text" maxlength="3"></td>
				</tr>


				<tr>
					<td>所属・プロジェクト</td>
					<td><input class="input" type="text"></td>
				</tr>

				<tr>
					<td>生年月日</td>
					<td><input class="input" type="text"></td>

				</tr>
				<tr>
					<td>出身校</td>
					<td><input class="input" type="text"></td>
				</tr>

				<tr>
					<td>趣味</td>
					<td><input class="input" type="text"></td>
				</tr>

			</table>
		</div>
	</div>

	<div class="free">
		<table class="freespace" border="1" style="border-collapse: collapse">
			<tr>
				<td>フリースペース</td>
			</tr>

		</table>

	</div>



	<div class="e">
		<table class="textarea" border="1" style="border-collapse: collapse">
			<tr>
				<td><textarea name="test2" rows="5" cols="40"
						style="font-size: 150%;"></textarea></td>
			</tr>

		</table>
	</div>


	<button class="button1">戻る</button>
	<button class="button2">決定</button>


</body>


</html>