<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees.app</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- new source for datatable -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
  	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
<div class="container">
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-lg btn-danger btn-block" name="registration"
                type="Submit">ログアウト
        </button>
    </form>
<!--
<div class="row">
	<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
		<ul class="flex-row d-block d-sm-none list-inline">
			<li class="nav-item2 list-inline-item">
				<form th:action="@{/admin/G_003}" method="get">
					<button class="btn btn-md btn-warning btn-block"
							type="Submit">プロフィール登録はこちら
					</button>
				</form>
				<form th:action="@{/logout}" method="get">
        			<button class="btn btn-md btn-danger btn-block" name="registration"
                			type="Submit">ログアウト
        			</button>
    			</form>
			</li>
		</ul>
	</main>
</div>
-->

<table id="user"
	class="table table-bordered table-hover table-lg">
		<thead class="thead-light">
			<tr>
				<th>社員ID</th>
				<th>氏</th>
				<th>氏名</th>
				<th>所属・プロジェクト</th>
			</tr>
		</thead>
	<tbody>
	</tbody>
</table>
</div>
<!-- inline JavaScript -->
<script th:inline="javascript">
    /*<![CDATA[*/
        var modalesectiondata = null;
        $(function(){
            // datatableの設定を変更
            var modelsectiontable = $("#user").DataTable({
                // 1列目を昇順にする ( [ [ 列番号, 昇順降順 ], ... ] の形式)
    			<!--"order": [ [ 10, "asc" ] ],-->
                // stateを保存する機能をつける
                "stateSave": true,
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": true,
                "bSort": true,
                "bInfo": false,
                "bAutoWidth": false,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Japanese.json"
                },
                "ajax": { url: /*[[@{/127.0.0.1}]]*/ 'admin/search', dataSrc: '' },
                "columns": [
                    { data: "userName",
                    	render:function(data,type,row){
                    		// userNameをリンクにします
                    		return `<a th:href="@{/admin/profile/{UserName}(id=${'data'})}"'>${data}</a>`;
                    	}},
                    { data: "lastName" },
                    { data: "firstName",
                    	render:function(data,type,row){
                    		// 文字列結合を行い文字列結合します
                    	row.firstName = row.lastName + " " + row.firstName;
                    	return row.firstName;
                    	}
                    },
                    { data: "assigned" }
                ],
                "columnDefs": [
                    { targets: 0, width: 60 },
                    { targets: 1,visible: false },
                    { targets: 2, width: 90 },
                    { targets: 3, width: 270 },
                    {targets:'_all',className : 'dt-head-center'},
                ]
            });
        })
    /*]]>*/
    </script>
</body>
</html>