<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Employees.app</title>
  <!-- Meta Set -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!-- Favicon -->
  <link rel="icon" type="image/png" th:href="@{/img/Github.png}">
  <!-- CSS Files --><!-- CDN Links -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"/>
  <!-- Local Files -->
  <link rel="stylesheet" th:href="@{/css/styles.css?v=2.0.1}"/>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="https://github.com/blendtea/EMS" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img th:src="@{/img/Github.png}">
          </div>
        </a>
        <a href="https://github.com/blendtea/EMS" class="simple-text logo-normal">
          EMS PROJECT
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a th:href="@{/admin/Dashboard}">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>
          
          <li>
            <a th:href="@{/admin/MyProfile}">
              <i class="nc-icon nc-single-02"></i>
              <p>My Profile</p>
            </a>
          </li>
          <li class="active ">
            <a th:href="@{/admin/UserList}">
              <i class="nc-icon nc-tile-56"></i>
              <p>User List</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Profile List</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link btn-magnify" href="javascript:;">
                  <i class="nc-icon nc-layout-11"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                  </p>
                </a>
              </li>
              <li class="nav-item btn-rotate dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="nc-icon nc-bell-55"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link btn-rotate" href="javascript:;">
                  <i class="nc-icon nc-settings-gear-65"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Simple Table</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                    <table id="user" class="table ">
		<thead class="thead-primary">
			<tr>
				<th>社員ID</th>
				<th>氏</th>
				<th>氏名</th>
				<th>所属・プロジェクト</th>
			</tr>
		</thead>
	<tbody>
	</tbody>
</table>
</div>
  <!--   Core JS Files   -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.0/perfect-scrollbar.min.js"></script>
  <script type="text/javascript" th:src="@{/js/core/script.js?v=2.0.1}"></script>
  <!-- datatable -->
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
  <!-- inline JavaScript -->
  <script th:inline="javascript">
    /*<![CDATA[*/
        var modalesectiondata = null;
        $(function(){
            // datatableの設定を変更
            var modelsectiontable = $("#user").DataTable({
                // 1列目を昇順にする ( [ [ 列番号, 昇順降順 ], ... ] の形式)
    			<!--"order": [ [ 10, "asc" ] ],-->
                // stateを保存する機能をつける
                "stateSave": true,
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bSort": true,
                "bInfo": false,
                "bAutoWidth": false,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Japanese.json"
                },
                "ajax": { url: /*[[@{/127.0.0.1}]]*/ 'admin/UserList', dataSrc: '' },
                "columns": [
                    { data: "userName",
                    	render:function(data,type,row){
                    		// userNameをリンクにします
                    		return `<a href="/admin/profile/?id=${data}">${data}</a>`;
                    	}},
                    { data: "lastName" },
                    { data: "firstName",
                    	render:function(data,type,row){
                    		// 文字列結合を行い文字列結合します
                    	row.firstName = row.lastName + " " + row.firstName;
                    	return row.firstName;
                    	}
                    },
                    { data: "assigned" }
                ],
                "columnDefs": [
                    { targets: 0, width: 60 },
                    { targets: 1,visible: false },
                    { targets: 2, width: 90 },
                    { targets: 3, width: 270 },
                    {targets:'_all',className : 'dt-head-center'},
                ]
            });
        })
    /*]]>*/
    				</script>
    			</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>