@charset "UTF-8";
h1 {
	text-align: center;
}

.a {
	float: left;
	width: 350px;
	position: absolute;
	left: 20％;
	background: #00ff00;
}

.b {
	position: absolute;
	left: 20％;
	top: 70％;
	background: #00ff00;
}

.d {
	font-size: 150％;
	height: 100px;
}

.e {
	height: 200px;
}

.f {
	position: absolute;
	left: 19.96％;
}

.g {
	width: 97％;
}

.h {
	position: absolute;
	left: 40％;
}

.i {
	position: absolute;
	left: 60％;
}

.super {
	width: 100％;
	font-size: 150％;
	overflow: hidden;
}

.j {
	position: absolute;
	left: 60％;
}

.m {
	float: right;
	position: absolute;
	right: 20％;
}


.o{

	background: #4b0082;
