@charset "UTF-8";

h1 {
	float: none;
	text-align: center;
}

.table {
	float: left;
	top: 2px;
	position: relative;
	left: 20%;
	background: #00ff00;
}

.freespace {
	position: relative;
	left: 20%;
	background: #00ff00;
}

.free {
	font-size: 130%;
	height: 100%;
}

.e {
	height: 200px;
}

.textarea {
	position: relative;
	left: 19.96%;
}

.input {
	width: 97%;
}

.button1 {
	float: none;
	top: 30px;
	width: 60px;
	height: 30px;
	position: relative;
	left: 40%;
}

.button2 {
	float: none;
	width: 60px;
	height: 30px;
	position: relative;
	left: 60%;
}

.super {
	position: relative;
	width: 206%;
	overflow: hidden;
	height: 320px;
}

<<<<<<< HEAD
=======


>>>>>>> 242_Tanida
.photo {
	float: right;
	position: relative;
	left: -54%;
}

<<<<<<< HEAD
.button3 {
=======
.button3{
>>>>>>> 242_Tanida
	width: 60px;
	height: 30px;
	position: relative;
	left: -50%;
	top: 104px;
}

<<<<<<< HEAD
.font-size {
	font-size: 100%;
}

.free_super {
	position: relative;
	top: 50px;
}
=======
.font-size{
	font-size: 100%;
	}

.free_super{
	position: relative;
	top: 50px;
	}

>>>>>>> 242_Tanida
}