@charset "UTF-8";

h1 {
<<<<<<< Updated upstream
=======
	float: none;
>>>>>>> Stashed changes
	text-align: center;
}

.table {
	float: left;
<<<<<<< Updated upstream
	width: 350px;
=======
	top: 2px;
>>>>>>> Stashed changes
	position: relative;
	left: 20%;
	background: #00ff00;
}

.freespace {
	position: relative;
	left: 20%;
	background: #00ff00;
}

.free {
<<<<<<< Updated upstream
	font-size: 100%;
=======
	font-size: 130%;
>>>>>>> Stashed changes
	height: 100%;
}

.e {
	height: 200px;
}

.textarea {
	position: relative;
	left: 19.96%;
}

.input {
	width: 97%;
}

.button1 {
<<<<<<< Updated upstream
=======
	float: none;
	top: 30px;
>>>>>>> Stashed changes
	width: 60px;
	height: 30px;
	position: relative;
	left: 40%;
}

.button2 {
<<<<<<< Updated upstream
=======
	float: none;
>>>>>>> Stashed changes
	width: 60px;
	height: 30px;
	position: relative;
	left: 60%;
}

.super {
<<<<<<< Updated upstream
	width: 100%;
	overflow: hidden;
	height: 250px;
=======
	position: relative;
	width: 206%;
	overflow: hidden;
	height: 320px;
>>>>>>> Stashed changes
}



.photo {
	float: right;
	position: relative;
<<<<<<< Updated upstream
	left: -5%;
=======
	left: -54%;
>>>>>>> Stashed changes
}

.button3{
	width: 60px;
	height: 30px;
	position: relative;
	left: -50%;
<<<<<<< Updated upstream
	top: 19px;
=======
	top: 104px;
}

.font-size{
	font-size: 100%;
	}

.free_super{
	position: relative;
	top: 50px;
	}

>>>>>>> Stashed changes
}