<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Employees.app</title>
  <!-- Meta Set -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!-- Favicon -->
  <link rel="icon" type="image/png" th:href="@{/img/Github.png}">
  <!-- CSS Files --><!-- Local Files -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" th:href="@{/css/startup.css}"/>
  <link rel="stylesheet" th:href="@{/css/login.css}"/>
  <link rel="stylesheet" th:href="@{/css/registration.css}"/>
</head>

<body>
<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Welcome</h1>
    <form id="registration" autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" role="form">

      <div class="input-container">
        <input type="text" th:field="*{lastName}"/>
        <label for="#{label}">姓</label>
        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-name"></label>
      <div class="bar">
      </div>

      </div>
      <div class="input-container">
      	<input type="text" th:field="*{firstName}"/>
      	<label for="#{label}">名</label>
      	<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-name"></label>
      <div class="bar">
      </div>

      </div>
      <div class="input-container">
        <input type="text" th:field="*{userName}"/>
        <label for="#{label}">社員番号(3桁)</label>
      	<label th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="validation-ID"></label>
      <div class="bar">
      </div>

      </div>
      <div class="input-container">
        <input type="password" th:field="*{password}"/>
        <label for="#{label}">パスワード</label>
        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-PSK"></label>
      <div class="bar"></div>
      </div>
      </form>
        </div>
      </div>
      <div class="button-container">
        <button id="submit"><span>登録</span></button>
      </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/core/SmartCard.js}"></script>
</body>
</html>